<html>
<head>
  <title>Download PDF</title>
  <script>
    function downloadPdf() {
      let userId = document.getElementById("userId").value;
      let token = sessionStorage.getItem("token");

      fetch("/validate?userID=" + userId, {
        method: "GET",
        headers: {
          "Authorization":token
        }
      })
              .then(response => {
                if (response.status === 200) {
                  return fetch("/download?userID=" + userId);
                }
                console.log("ID is not valid")
                throw new Error("Unauthorized");
              })
              .then(response => response.text())
              .then(encodedText => {
                return fetch("/decode", {
                  method: "POST",
                  body: encodedText
                });
              })
              .then(response => response.blob())
              .then(blob => {
                let blobUrl = window.URL.createObjectURL(blob);
                let link = document.createElement("a");
                link.href = blobUrl;
                link.click();
              })
    }
  </script>
</head>
<body>
<form >
  <label for="userId">Enter User ID:</label>
  <input type="text" id="userId">
</form>
<button onclick="downloadPdf()">Download PDF</button>
</body>
</html>